.articles-table{
  table-layout: fixed;
  width: 100%;
  tr {
    height: 50px;
    min-height: 50px;

    th, td {
      min-height: 50px;
      vertical-align: middle;
      overflow-wrap: break-word;
    }

    td:nth-child(1) {
      width: 10%;
    }

    td:nth-child(2),
    td:nth-child(3) {
      width: 35%;
    }

    td:nth-child(4) {
      width: 20%;
    }
  }
}

.articles-modal__body{
  min-height: 130px;
  text-align: left;
  font-size: 15px;
}

.articles-modal__footer{
  display: flex;
  justify-content: space-between;
}

.edit-button{
  margin-right: 15px;
}
